<%- include('../partials/header.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h1>Congratulations!</h1>
                    <p><strong>You have successfully created a quiz</strong></p>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/quiz/<%= slug %>" class="btn btn-success btn-block">View Quiz</a>
                        </div>
                        <div class="col-md-6">
                            <a href="/" class="btn btn-primary btn-block">Go Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>